<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--Por alguna razon el thymelaf no funciona sin esto a pesar de estar en el pom-->
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento de films</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div><h2>Peliculas</h2></div>

    <div>
        <button type="button"  id="btnAgregar" class="btn btn-dark" onclick="location.href='/mantenimiento/add'" >Nuevo </button>
    </div>


    <table class="table table-striped-columns table-borderless">

        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Idioma</th>
            <th>Tiempo de alquiler (dias)</th>
            <th>Precio de alquiler (Soles)</th>
            <th>Longitud (minutos)</th>
            <th>Rating</th>
            <th colspan="3">Mantenimiento</th>

        </tr>
        <!--Iteracion en table row-->

        <tr th:each="film : ${films}">
            <td th:text="${film.filmId()}"></td>
            <td th:text="${film.title()}"></td>
            <td th:text="${film.language()}"></td>
            <td th:text="${film.rentalDuration()}"></td>
            <td th:text="${film.rentalRate()}"></td>
            <td th:text="${film.length()}"></td>
            <td th:text="${film.rating()}"></td>
            <td>
                <!--<a th:href="@{/mantenimiento/detail/{id}(id=${film.filmId()})}">Detalles</a>-->
                <a th:href="@{/mantenimiento/detail/{id}(id=${film.filmId()})}" class="btn btn-primary btn-sm">
                    Detalles
                </a>
            </td>
            <td>
                <a th:href="@{/mantenimiento/edit/{id}(id=${film.filmId()})}" class="btn btn-success btn-sm">
                    Editar
                </a>
            </td>
            <td>
                <a th:href="@{/mantenimiento/elim/{id}(id=${film.filmId()})}" class="btn btn-danger btn-sm">
                    Eliminar</a>
            </td>
        </tr>
    </table>

</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


</body>
</html>